#header {
  width: 50%;
  height: 65%;
  font-style: Comfortaa;
  font-size: large;
  text-transform: capitalize;
  // color: rgb(255, 0, 242);
  color: black;
  text-align: center;
  margin-left: 22.4%;
  margin-top: 3.5%;
  margin-bottom: 2%;
}
.section1 {
  width: auto;
  height: auto;
  background: linear-gradient(
    to left,
    rgba(247, 50, 76, 0.671) 0%,
    rgb(252, 252, 252) 100%
  );
}
