@import '../../variables.scss';
.recovery {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recovery-border {
    @extend .recovery;
    flex-direction: column;
    width: 664px;
    height: 450px;
    margin-top: 54px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    >form {
        width: 85%;
        @extend .recovery;
        flex-direction: column;
    }
}

.user-logo {
    width: 104px;
    height: 104px;
    margin-top: 42px;
    background: #C4C4C4;
    border-radius: 50%;
    opacity: 0.3;
    text-transform: capitalize;
    color: $primary-blue-one;
}

.email-address {
    width: 400px;
    height: 56px;
    margin-top: 48px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6.7px
}


/* SEND Button for Recovery Password */

.send-button {
    width: 430px;
    height: 56px;
    margin-top: 28px;
    font-family:$primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    background: $primary-blue-one;
    box-shadow: 0px 7px 16px rgba(229, 229, 229, 0.18);
    border-radius: 5px;
    color: $primary-white;
    border: none;
    @media (max-width :850px) {
        margin-left: 2%;
        width: 80%;
        margin-top:30px;
        justify-content: space-between;
    }
}


/* Resend Email */

.resend-email {
    width: 86px;
    height: 14px;
    margin-top: 73px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;
    color: $primary-grey;
    @media (max-width: 850px){ margin-top: 20px;}
}

  /* Check your mail */
.checkmail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 49px;
    margin-left: 200px;
    margin-top: 100px;

    font-family: Cardo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    text-transform: capitalize;
    color: $black;
}

/* An email have been sent to your email click to reset */
.checkmail-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 349px;
    height: 14px;
    margin-left: 160px;
    top: 179px;

    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;
    color: $primary-grey;
}